@import 'https://unpkg.com/purecss@2.0.3/build/pure-min.css';
@import 'https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css';
@import 'https://fonts.googleapis.com/css?family=Karla';

html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  font-family: 'Karla', sans-serif;
}

.pure-g {
  justify-content: center;
}

body {
  background-image: url(https://i.imgur.com/HzlGXSp.png);
}

#logo {
  max-width: 128px;
  max-height: 128px;
  display: block;
  margin: 1em auto;
}

h1,
h2,
h3 {
  font-weight: normal;
  text-align: center;
}

h1,
h2,
h3,
a,
a:visited {
  color: #0c9e86;
}

hr {
  border: none;
  border-top: 1px dashed #0c9e86;
  margin: 0 2em;
}

nav {
  margin: 1em 0;
  text-align: center;
}

video {
  width: 100%;
  max-width: 100%;
  margin: 1em 0;
}

button {
  background-color: #0c9e86;
  color: #fff;
  border: 1px solid #0c9e86;
  cursor: pointer;
}

.justified {
  text-align: justify;
}

.header {
  font-size: 1.5rem;
  color: #0c9e86;
}

.info {
  color: #999;
  font-size: smaller;
}

.pure-u-wrapper {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #0c9e86;
  background-color: white;
  word-break: break-word;
}
